.hero-title{
    font-size: 6rem;
    line-height: 0.8;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 0);
    padding: 7px 0px;
    background-color: rgba(255,255,255,0.5);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 2rem;
  }