:root{
  --primary-color: rgb(6, 175, 71);
  --primary-color-light: rgba(6, 175, 71, 0.2);

  --black-color: #000;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Lexend", sans-serif;
}
a{
  text-decoration: none;
  color: unset;
}
.primary-color{
  color: var(--primary-color);
}
.primary-color-bg{
  background-color: var(--primary-color);
}
.primary-color-light{
  color: var(--primary-color-light);
}
.primary-color-light-bg{
  background-color: var(--primary-color-light);
}
.h-45px {
  height: 45px !important;
}
.w-45px {
  width: 45px !important;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
a.primary-color-bg:hover{
  background-color: var(--black-color);
}

/* Header CSS */
.navbar .navbar-nav .nav-link {
  font-size: 1.1rem;
}


