:root{
  --primary-color: rgb(6, 175, 71);
  --primary-color-light: rgba(6, 175, 71, 0.2);

  --black-color: #000;
  --grey-color: #717580;
  --urbanist-font-family:'Urbanist', sans-serif;
  --Atkinson-font-family: "Atkinson Hyperlegible", sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 17px;
  line-height: 32px;
  font-weight: 400;
  font-family: var(--Atkinson-font-family);
}
p{
  color: var(--grey-color);
}
h1, h2, a, span{
  font-family: var(--urbanist-font-family);
}
a{
  text-decoration: none;
  color: unset;
  font-family: var(--Atkinson-font-family);
}
.primary-color{
  color: var(--primary-color);
}
.primary-color-bg{
  background-color: var(--primary-color);
}
.primary-color-light{
  color: var(--primary-color-light);
}
.primary-color-light-bg{
  background-color: var(--primary-color-light);
}
.h-45px {
  height: 45px !important;
}
.w-45px {
  width: 45px !important;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-padding-y{
  padding: 65px 0px;
}
.section-title{
  font-size: 3.4rem;
  word-spacing: -4px;
  letter-spacing: -1px !important;
}
a.primary-color-bg:hover{
  background-color: var(--black-color);
}

/* Header CSS */
.navbar .navbar-nav .nav-link {
  font-size: 1.1rem;
}


